<mat-card>
  <mat-card-header>
    <mat-card-title>Reporting</mat-card-title>
    <mat-card-subtitle>Liste de tous les rapports</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-interventions-by-equipment-chart></app-interventions-by-equipment-chart>
    <app-interventions-by-probleme-chart></app-interventions-by-probleme-chart>
    <app-interventions-by-compagnie></app-interventions-by-compagnie>
    <app-intervention-tbf></app-intervention-tbf>
  </mat-card-content>
</mat-card>
