<mat-card>
  <mat-card-header>
    <mat-card-title>Reporting</mat-card-title>
    <mat-card-subtitle>Liste de tous les rapports</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-interventions-by-equipment-chart></app-interventions-by-equipment-chart>
    <app-interventions-by-probleme-chart></app-interventions-by-probleme-chart>
    <app-interventions-by-projet></app-interventions-by-projet>
    <app-interventions-by-projet-year></app-interventions-by-projet-year>
    <app-tbfdashboard></app-tbfdashboard>
    <app-tbf-chart></app-tbf-chart>
  </mat-card-content>
</mat-card>
