.tbf-card {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .chart-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  canvas {
    max-width: 100%;
    height: auto;
  }
  