<div class="container">
    <h2>TBF Chart</h2>
    <div class="form-group">
      <label for="equipment">Select Equipment:</label>
      <select id="equipment" [(ngModel)]="selectedEquipment" class="form-control">
        <option *ngFor="let equipment of equipments" [value]="equipment.id">{{ equipment.equipmentName }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="month">Select Month:</label>
      <select id="month" [(ngModel)]="selectedMonth" class="form-control">
        <option *ngFor="let month of months" [value]="month">{{ month }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="year">Select Year:</label>
      <select id="year" [(ngModel)]="selectedYear" class="form-control">
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>
    <button class="btn btn-primary" (click)="loadTBFData()">Load TBF Data</button>
  
    <div class="chart-container">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"></canvas>
    </div>
  </div>
  