<mat-nav-list >
  <a mat-list-item routerLink="/admin/reporting">
    <mat-icon matListItemIcon>assessment</mat-icon>
    <span matListItemTitle>Reporting</span>
  </a>
  <a mat-list-item routerLink="/admin/zone">
    <mat-icon matListItemIcon >menu</mat-icon>
    <span style="color: blue" matListItemTitle>Zones</span>
  </a>
  <a mat-list-item routerLink="/admin/aeroport">
    <mat-icon fontIcon="home" matListItemIcon></mat-icon>
    <span matListItemTitle>Dashbord2</span>
  </a>


</mat-nav-list>
