<mat-nav-list >
  <a mat-list-item routerLink="/admin/reporting">
    <mat-icon matListItemIcon>assessment</mat-icon>
    <span matListItemTitle>Reporting</span>
  </a>
  <a mat-list-item routerLink="/admin/zone">
    <mat-icon fontIcon="pin_drop" matListItemIcon >menu</mat-icon>
    <span style="color: blue" matListItemTitle>Zones</span>
  </a>
  <a mat-list-item routerLink="/admin/aeroport">
    <mat-icon fontIcon="flight_takeoff" matListItemIcon></mat-icon>
    <span matListItemTitle>Aeroport</span>
  </a>
  <a mat-list-item routerLink="/admin/compagnie">
    <mat-icon fontIcon="business_center" matListItemIcon></mat-icon>
    <span matListItemTitle>Compagnie</span>
  </a>
  <a mat-list-item routerLink="/admin/comptoire">
    <mat-icon fontIcon="domain" matListItemIcon></mat-icon>
    <span matListItemTitle>comptoire</span>
  </a>


</mat-nav-list>
