
.chart-card {
  max-width: 500px; /* Adjust as needed */
  margin: 20px auto; /* Center horizontally */
  padding: 20px;
  text-align: center; /* Center text and content */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.full-width {
  width: 100%;
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  margin: 0 auto; /* Centrer horizontalement */
}
